*{margin: 0; padding: 0;}
body{font-size: 16px; line-height: 22px; font-family: 'WorkSans', sans-serif; position: relative; word-spacing: -1px;}

article, hr, footer{width: 300px;}
article{margin: 20px auto; position: relative; }

#bkg{position: fixed; top: 0; color: #eee; font-family: courier; font-size: 42px; line-height: 42px; word-spacing: -24px; z-index: -1000;}

h1, h2, h3, p, ul {margin-bottom: 10px;}
h1, h2, h3 {font-weight: 700; }
h1 {font-size: 52px; line-height: 48px; word-spacing: -7px;}
h2 {margin-top: 28px;}
ul {list-style-type: square; list-style-position: inside;}
img {margin: 10px 0;}
hr{margin: 20px auto; height: 10px; background-color: black;}
footer{margin: 0 auto;}

p.thoughts{color: grey;}

@media screen and (min-width: 640px) {

}

@media screen and (max-width: 639px) {

}
