@import url("/webfonts/cormorant/cormorant.css");

*{margin: 0; padding: 0;}
body{font-size: 16px; line-height: 22px; margin: 20px auto; font-family: 'CormorantGaramondRegular';}
h1, h2, h3{font-weight: normal;}
h1, h2, h3, p{margin-bottom: 10px;}
h2{margin-top: 20px;}
hr{margin: 10px 0;}

@media screen and (min-width: 640px) {
body{width: 600px;}
}

@media screen and (max-width: 639px) {
  body{width: 300px;}

}
