@font-face {
    font-family: 'WorkSans';
    src: url('WorkSans-Regular.woff') format('woff'),
         url('WorkSans-Regular.woff2') format('woff2'),
         url('WorkSans-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
  }
  @font-face {
      font-family: 'WorkSans';
      src: url('WorkSans-Black.woff') format('woff'),
           url('WorkSans-Black.woff2') format('woff2'),
           url('WorkSans-Black.ttf') format('truetype');
      font-style: normal;
      font-weight: 900;
      text-rendering: optimizeLegibility;
    }
