@font-face {
    font-family: 'CormorantGaramondRegular';
    src:    url('CormorantGaramond-Regular.eot');
    src:    url('CormorantGaramond-Regular.woff') format('woff'),
            url('CormorantGaramond-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
